
@use "../../styles/partials/mixins" as*;
@use "../../styles/partials/typography" as*;

.neuro{
  &__page {  
  min-height: 100vh;
  color: #fff;
  background: url("/images-logos/maxresdefault.jpg") no-repeat center center;
  background-size: cover;
  }
    &__logos {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-inline: 2rem;
    @include tablet{
    justify-content: flex-end;  
    }
    }
    &__windows{
    width:50px;
    @include tablet{

    }
    }
    &__xbox{
    width:50px;
    @include tablet{
        
    }
    }
    &__images{
    display:flex;
    flex-direction: column;
    padding-inline:3.25rem;
    }
    &__wrapper-normal{
    width:31.25rem;
    }
    &__wrapper-dyslexic{
    width:31.25rem;
    }
}
