.cognitive {
  &__container {
    position: relative;
    display: block;
    width: 100%;
    align-items: center;
  }

  &__background-image {
    position: relative;
    margin: 0 auto;
    max-width: 100%;
  }

  &__narrative {
    font-family: "HeadlinerNo45";
    font-size: 2rem;
    margin-top: 20px;
    white-space: pre-wrap;
    overflow: hidden;
    opacity: 0;
    animation-fill-mode: forwards;

    &.before-ai {
      animation: typeText 2s steps(40, end) forwards;
    }

    &.after-ai {
      animation: typeText 4s steps(40, end) forwards;
    }
  }
}

@keyframes typeText {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}

.overlay {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
  border-radius: 10px;
  padding: 10px;

  &-content {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    max-width: 90%;
    text-align: center;
    color: black;
  }
}

button {
  margin: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;

  &:hover {
    background-color: #0056b3;
  }
}
