.nav {
  padding: 4rem 6rem;
  display: flex;
  justify-content: space-between;
  color: white;

  &__profile {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  &__profile-details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__user {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__avatar {
    height: 4rem;
  }

  &__achievements {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  &__subscription {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0.25rem;
    border-radius: 0.25rem;
  }

  &__score {
    font-size: 1rem;
  }

  &__icon {
    height: 1.5rem;
  }

  &__list {
    display: flex;
    gap: 2rem;
    padding-right: 8rem;
  }

  &__item {
    height: 3rem;
  }

  &__info {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  &__mic,
  &__battery {
    height: 1.5rem;
  }

  &__linkhome {
    color: white;
  }
}

.drawer {
  z-index: 2000;
}

.drawer {
  z-index: 2000;
}