@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global";    

.hearing {
    background-image: url("../../../public/images_logos/background.png");
    background-repeat: no-repeat;
    background-size: cover;

}